<html lang="en">
    <head>
        {% load static %}    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <title>Race No. {{ race_no }}</title>
    </head>
    <body>
        <h1>Race {{ race_no }} of {{ session.no_races }}</h1>
        <form id="race-entry" method="post">
            {% csrf_token %}
            <input type="hidden" name="session" value="{{ session.session_id }}">
            <input type="hidden" name="race-no" value="{{ race_no }}">
            <label for="start-track">
                {% if session.game_version.name == "Mario Kart 8 Deluxe" %}
                    Track
                {% elif session.game_version.name == "Mario Kart World" %}
                    Starting Track
                {% endif %}
            </label>
            <input type="text" name="start-track" id="start-race-track" list="tracks" value="{% if result_tracks %}{{ result_tracks.start_track.name }}{% endif %}"><br>
            {% if session.game_version.name == "Mario Kart World" %}
                <label for="start-track">Ending Track</label>
                <input type="text" name="end-track" id="end-race-track" list="tracks" value="{% if result_tracks %}{{ result_tracks.end_track.name }}{% endif %}"><br>
            {% endif %}

            {% for player in players %}
                <label for="player-{{ player.player_session.player.player_id }}-position">{{ player.player_session.player.name }}</label>
                <input class="position-select" type="number" name="player-{{ player.player_session.player.player_id }}-position" id="player-{{ player.player_session.player.player_id }}-position" max={{max_position}} min=1
                    value={{player.result.position.position}}><br>
            {% endfor %}
            
            <button type="button" id="previous-race">Previous</button>
            <button type="button" id="submit-race">Next</button>
        </form>
        <br>
        <h2>Current Standings</h2>
        {% for result in results_so_far %}
            <label for="">{{result.player_name}}: </label><p>{{ result.points }}</p><br>
        {% endfor %}
    </body>

    <datalist id="tracks">
        {% for track in tracks %}
            <option value="{% autoescape on %}{{ track.name }}{% endautoescape %}">{{ track.name }}</option>
        {% endfor %}        
    </datalist>

    <script>
        const NEXT_RACE_URL = '{% url "mk-tracker:next-race" %}'
        const PREV_RACE_URL = '{% url "mk-tracker:prev-race" %}'
    </script>
    <script src="{% static 'mario_kart_tracker/race-entry.js' %}"></script>
</html>