<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'mario_kart_tracker/session-setup.js' %}"></script>
    <title>New Session</title>
</head>
<body>
    <h1>New Session</h1>
    <div>
        <input type="radio" name="game_version" id="mk8" value="mk8_form">
        <label for="mk8">Mario Kart 8 Deluxe</label>
        <input type="radio" name="game_version" id="mk_world" value="mk_world_form">
        <label for="mk8">Mario Kart World</label>
        <div id="mk8_form" class="session_form">
            <form 
                id="mk8-session-setup" 
                name="session-setup" 
                action="{% url "mk-tracker:save-session" %}" 
                method="post">
                {% csrf_token %}
                <fieldset name="mk8-setup">
                    <legend>Session Settings</legend>
                    <input type="hidden" name="game_version" value="{{ mk8.game_version_id }}">
                    <label for="mk8-track-choice">Track Choice</label>
                    <select name="track-choice" id="mk8-track-choice">
                        {% for track_choice in mk8.track_modes %}
                        <option id="track-choice-{{ forloop.counter }}" value="{{ track_choice.course_selection_id }}">{{ track_choice.name }}</option>
                        {% endfor %}
                    </select><br>
                    <label for="mk8-cc">CC</label>
                    <select name="cc" id="mk8-cc">
                        {% for class in mk8.engine_classes %}
                        <option id="class-{{ forloop.counter }}" value="{{ class.engine_class_id }}">{{ class.name }}</option>
                        {% endfor %}
                    </select><br>
                    <label for="mk8-teams">No. Teams</label>
                    <input type="number" name="no-teams" id="mk8-teams"><br>
                    <label for="mk8-item-rule">Item Rules</label>
                    <select name="item-rule" id="mk8-item-rule">
                        {% for rule in mk8.item_rules %}
                        <option id="rule-{{ forloop.counter }}" value="{{ rule.item_rule_id }}">{{ rule.name }}</option>
                        {% endfor %}
                    </select><br>
                    <label for="mk8-difficulty">COM Difficulty</label>
                    <select name="difficulty" id="mk8-difficulty">
                        {% for difficulty in mk8.cpu_difficulties %}
                        <option id="difficulty-{{ forloop.counter }}" value="{{ difficulty.cpu_difficulty_id }}">{{ difficulty.name }}</option>
                        {% endfor %}
                    </select><br>
                    <label for="mk8-no-players">No. Players</label>
                    <input type="number" name="no-players" id="mk8-no-players"><br>
                    <label for="mk8-no-races">No. Races</label>
                    <input type="number" name="no-races" id="mk8-no-races">
                </fieldset>
            </form>
        </div>
        <div id="mk_world_form" class="session_form">
            <form 
                id="mk-world-session-setup" 
                name="session-setup" 
                action="{% url "mk-tracker:save-session" %}" 
                method="post">
                {% csrf_token %}
                <fieldset name="mk-world-setup">
                    <legend>Session Settings</legend>
                    <input type="hidden" name="game_version" value="{{ mk_world.game_version_id }}">
                    <label for="mk-world-track-choice">Track Choice</label>
                    <select name="track-choice" id="mk-world-track-choice">
                        {% for track_choice in mk_world.track_modes %}
                        <option id="track-choice-{{ forloop.counter }}" value="{{ track_choice.course_selection_id }}">{{ track_choice.name }}</option>
                        {% endfor %}
                    </select><br>
                    <label for="mk-world-cc">CC</label>
                    <select name="cc" id="mk-world-cc">
                        {% for class in mk_world.engine_classes %}
                        <option id="class-{{ forloop.counter }}" value="{{ class.engine_class_id }}">{{ class.name }}</option>
                        {% endfor %}
                    </select><br>
                    <label for="mk-world-teams">No. Teams</label>
                    <input type="number" name="no-teams" id="mk-world-teams"><br>
                    <label for="mk-world-item-rule">Item Rules</label>
                    <select name="item-rule" id="mk-world-item-rule">
                        {% for rule in mk_world.item_rules %}
                        <option id="rule-{{ forloop.counter }}" value="{{ rule.item_rule_id }}">{{ rule.name }}</option>
                        {% endfor %}
                    </select><br>
                    <label for="mk-world-difficulty">COM Difficulty</label>
                    <select name="difficulty" id="mk-world-difficulty">
                        {% for difficulty in mk_world.cpu_difficulties %}
                        <option id="difficulty-{{ forloop.counter }}" value="{{ difficulty.cpu_difficulty_id }}">{{ difficulty.name }}</option>
                        {% endfor %}
                    </select><br>
                    <label for="mk-world-no-players">No. Players</label>
                    <input type="number" name="no-players" id="mk-world-no-players"><br>
                    <label for="mk-world-no-races">No. Races</label>
                    <input type="number" name="no-races" id="mk-world-no-races">
                </fieldset>
            </form>
        </div>
    </div>
</body>

{% include "./datalists.html" %}

<datalist id="player-list">
    {% for player in players %}
    <option value="{{ player.player_id }}">{{ player.name }}</option>
    {% endfor %}
</datalist>


</html>
